//
//  Secrets.xcconfig
//  Tumblrbot
//
//  Created by Fernando Garcia Fernandez on 26/5/22.
//  Copyright © 2022 Tumblr. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
consumerKey = mDvL342seQHlWCRkoN0aysPQu6MrnP3taVzyOWhpxrYSBM2I4j
consumerSecret = NV2ciCSwig9594S9rSaDgIdjGFode7jyQVgJpCTV45qe8qO29r
token = oObMxtOcWR41Iu9wZk61XUAHgOhYs553wxHi8bxoi99NhaSuPP
secret = VpTC59DmUQFZFnyxeEe2bS4VfANamkshN9StU0FmjWOI1kwXXM
